{% extends "__base__.html" %}
{% load static %}
{% block header %}
    <header>
        {% include "__navbar__.html" %}
    </header>
{% endblock %}
{% block main %}
<div class="my-account container">
    <h2>Moje konto</h2>
    <p><b>Imię: </b>{{ user.first_name }}</p>
    <p><b>Nazwisko: </b>{{ user.last_name }}</p>
    <p><b>Email: </b>{{ user.email }}</p>
</div>
<div class="my-donations container">
    <h2>Moje darowizny</h2>
    {% for donation in donations_open %}
        <p>Status: Oczekuje na odebranie</p>
        <p>Data odbioru: {{ donation.pick_up_date }}</p>
        <p>Odbiorca: {{ donation.institution }}</p>
        <a href="{% url 'donation_details' donation.id %}" class="btn btn--big btn--without-border">Szczegóły</a>
        <hr>
    {% endfor %}
    {% for donation in donations_taken %}
        <section class="taken">
        <p>Status: Odebrana (zaktualizowano: {{ donation.closing_date }})</p>
        <p>Data odbioru: {{ donation.pick_up_date }}</p>
        <p>Odbiorca: {{ donation.institution }}</p>
        <a href="{% url 'donation_details' donation.id %}" class="btn btn--big btn--without-border">Szczegóły</a>
        <hr>
        </section>
    {% endfor %}
</div>
{% endblock %}