{% extends "__base__.html" %}
{% load static %}
{% block header %}
    <header>
        {% include "__navbar__.html" %}
    </header>
{% endblock %}
{% block main %}
    <div class="my-account container">
    <h3>Aby przejść dalej, potwierdź swoje hasło:</h3>
    <form method="post">
        {% csrf_token %}
        <p><label for="password"><input type="password" name="password"></label></p>
        <p><input class="btn btn--small" type="submit" value="Potwierdź"></p>
    </form>
    </div>
{% endblock %}