{% extends "__base__.html" %}
{% load static %}
{% block header %}
    <header>
        {% include "__navbar__.html" %}
    </header>
{% endblock %}
{% block main %}
<section class="my-donations">
    <h2>Darowizna dla {{ donation.institution }}</h2>
    <p><b>Status: </b>{% if donation.is_taken == True %}Odebrana (zaktualizowano: {{ donation.closing_date }}){% else %}Oczekuje na odbiór{% endif %}</p>
    <p><b>Data odbioru: </b>{{ donation.pick_up_date }}</p>
    <p>Dary: </p>
        <ul>
            {% for category in donation.categories.all %}
                <li>{{ category.name }}</li>
            {% endfor %}
        </ul>
    {% if donation.is_taken == False %}
        <a href="{% url 'donation_taken' donation.id %}" class="btn btn--big btn--without-border">Oznacz jako odebrane</a>
        <a href="{% url 'donation_delete' donation.id %}" class="btn btn--big btn--without-border">Zrezygnuj z darowizny</a>
    {% else %}
        <a href="{% url 'donation_not_taken' donation.id %}" class="btn btn--big btn--without-border">Oznacz jako nieodebrane</a>
    {% endif %}
</section>
{% endblock %}